<header class="header">
    <h1><%= headerTitle %></h1>
    <div class="bottom-header">
        <div class="header-left">
            <% if (locals.user) { %>
                <h2>Welcome, <%= user.name%></h2>
            <% } %>
            <% if (locals.parentFolders && parentFolders.length > 0) { %>
                <div class="breadcrumb">
                    <a href="/">Home</a>
                    <% parentFolders.forEach((folder, index) => { %>
                        <span class="separator">/</span>
                        <% if (index === parentFolders.length - 1) { %>
                            <!-- Current folder - not clickable -->
                            <span class="current-folder"><%= folder.name %></span>
                        <% } else { %>
                            <!-- Parent folder - clickable -->
                            <a href="/root/<%= folder.id %>"><%= folder.name %></a>
                        <% } %>
                    <% }); %>
                </div>
            <% } else { %>
            <% } %>
        </div>
        <div class="header-buttons">
            <a href="/keys" class="upload-btn">View Keys</a>
            <a href="/file" class="upload-btn">Upload file</a>
            <a href="/auth/login" class="upload-btn" onclick="localStorage.clear()">Log out</a>
        </div>
    </div>
</header>